<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark N Carpenter Jr">
    <!-- Social Media -->
    <link href="https://plus.google.com/MTJTruckEquipmentINCBridgeport" rel="publisher"/>
    <title>M. T. J. Truck Equipment INC. Truck Equipment Installers</title>
    <link rel="shortcut icon" href="../assets/img/favicon128.png">
    <!-- Style  Libs-->
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <!-- Icons -->
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <!-- Custom styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>

  <body class="blue">
    <div id="fb-root"></div>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue z-depth-2">
          <a href="../index.html" class="brand-logo">M. T. J. Truck Equipment INC.</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li class="active">
              <a href="../views/about.html">About</a>
            </li>
            <li>
              <a href="../views/installed_equip.html">Products</a>
            </li>
            <li>
              <a href="../views/contact.html">Contact</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active">
              <a href="../views/about.html">About</a>
            </li>
            <li>
              <a href="../views/installed_equip.html">Products</a>
            </li>
            <li>
              <a href="../views/contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Content -->
    <div class="section blue lighten-1">
      <div class="row container">
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue z-depth-2">
              <div class="card-content white-text">
                <span class="card-title">Industries We Service</span>
                <ul class="collection blue">
                  <li class="collection-item blue lighten-1">Construction</li>
                  <li class="collection-item blue darken-1">Utilities Service</li>
                  <li class="collection-item blue lighten-1">Material Supply</li>
                  <li class="collection-item blue darken-1">Landscape</li>
                  <li class="collection-item blue lighten-1">Highway Stripping</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card blue z-depth-2">
              <div class="card-content white-text">
                <span class="card-title">Installed Equipment Vendors</span>
                <ul class="collection blue">
                  <li class="collection-item blue lighten-1">
                    <a class="grey-text text-lighten-3" href="http://www.tafcoequip.com/">Scott Hoists</a>
                  </li>
                  <li class="collection-item blue darken-1">
                    <a class="grey-text text-lighten-3" href="http://www.anthonyliftgates.com/">Anthony Liftgates</a>
                  </li>
                  <li class="collection-item blue lighten-1">
                    <a class="grey-text text-lighten-3" href="http://www.hewittlucas.com/">Hewitt Lucas Van Bodies</a>
                  </li>
                  <li class="collection-item blue darken-1">
                    <a class="grey-text text-lighten-3" href="http://www.magliner.com/product/ramps">Magliner Ramps</a>
                  </li>
                  <li class="collection-item blue lighten-1">
                    <a class="grey-text text-lighten-3" href="http://www.pulltarps.com/">Pull Tarps</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 push-m3">
            <div class="card blue z-depth-2">
              <div class="card-content white-text">
                <span class="card-title">Roads To Liberty</span>
                <p>
                  The "Roads To Liberty" Trailer was a project sponsored by the Commission on the Bicentennial of the U.S. Constitution, the U.S. Constitution Council of the Thirteen Original States, Inc. and the American Express Co. Mark N Carpenter Sr. was in charge of the reconstruction of the trailer and ramp system that would hold items for display such as the Magna Carta and other artifacts Celebrating the Bicentennial of the signing of the Declaration Of Independence. The trailer toured 19 states during the celebration of the signing of the Declaration's 200th. birthday, More Information about the Tour below from an Associated Press news archive.
                </p>
              </div>
              <div class="card-action blue darken-1">
                <a href="../views/about/rtlib.html">Read More</a>
                <a href="http://www.apnewsarchive.com/1987/Copy-Of-Magna-Carta-To-Travel-To-19-States/id-a6bebcea898dedd3fcaec0777ad5ab3f">Associated Press</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Footer -->
    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <div class="g-page" data-href="//plus.google.com/u/0/109563858961657964641" data-theme="dark" data-layout="landscape" data-rel="publisher" data-width="380" data-showtagline="true"></div>
            <div class="fb-page" data-href="https://www.facebook.com/M-T-J-Truck-Equipment-155507061155261" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Quick Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">About</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Getting Here</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Contact</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Services</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Copyright M. T. J. Truck Equipment
          <a class="grey-text text-lighten-4 right" href="#!">Mark N Carpenter Jr</a>
        </div>
      </div>
    </footer>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVsabjVbGABsd4Cu0_3keXBDV0t0MsLM&libraries=places&callback=map" onerror="loadError()" async defer></script>
  </body>

</html>
