<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark N Carpenter Jr">
    <!-- Social Media -->
    <link href="https://plus.google.com/MTJTruckEquipmentINCBridgeport" rel="publisher" />
    <title>M. T. J. Truck Equipment INC. Truck Equipment Installers</title>
    <link rel="shortcut icon" href="../assets/img/favicon128.png">
    <!-- Style  Libs-->
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <!-- Icons -->
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <!-- Custom styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="blue">
    <div id="fb-root"></div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue z-depth-2">
                <a href="../index.html" class="brand-logo">M. T. J. Truck Equipment INC.</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="../views/about.html">About</a>
                    </li>
                    <li>
                        <a href="../views/installed_equip.html">Products</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contact</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="../views/about.html">About</a>
                    </li>
                    <li>
                        <a href="../views/installed_equip.html">Products</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="section blue lighten-1">
        <div class="row container">
            <div class="col s12 m6">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Truck Bodies</span>
                        <p>
                            Our truck bodies are sourced based on customer specs to fit their exact needs. Made from either steel or aluminum, using only quality structural materials giving your equipment longevity and reliability. We work closely with our customers to make sure
                            they get what they want and as with each project we put care, pride and the customer's needs first.
                        </p>
                    </div>
                    <div class="card-action blue darken-1">
                        <a href="mailto: sales@mtjtruck.com">Request More Info.</a>
                        <a href="tel: +1-203-334-4939">Call Us</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Industries We Service</span>
                        <ul class="collection blue">
                            <li class="collection-item blue lighten-1">Construction</li>
                            <li class="collection-item blue darken-1">Utilities Service</li>
                            <li class="collection-item blue lighten-1">Material Supply</li>
                            <li class="collection-item blue darken-1">Landscape</li>
                            <li class="collection-item blue lighten-1">Highway Stripping</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container" style="height:275px;">
        <div class="parallax"><img class="" src="../assets/img/bodies/transport/lumber/IMG_0095.png"></div>
    </div>
    <div class="section blue lighten-1">
        <div class="container row">
            <!-- One -->
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/img/bodies/van/IMG_0383.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Van<i class="material-icons right">more_vert</i></span>
                        <p><a href="http://www.hewittlucas.com/">Hewitt Lucas Bodies</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Van<i class="material-icons right">close</i></span>
                        <p>Hewitt Lucas Van Bodies</p>
                    </div>
                </div>
            </div>
            <!-- Two -->
            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/img/bodies/transport/lumber/IMG_0093.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Transport<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Material Transport<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <!-- Three -->
            <div class="col s6 offset-s3 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/img/bodies/utility/IMG_0086.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Utility<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Utility Bodies<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container" style="height:275px;">
        <div class="parallax"><img class="" src="../assets/img/bodies/van/IMG_0385.jpg"></div>
    </div>
    <div id="van" class="section blue lighten-1">
        <div class="container row">
            <div class="col s6 m4">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Van Bodies</span>
                        <p>We offer Van Bodies built by Hewitt Lucas, who have been in business since 1960, and offer and extremely durable Van Body that like our other installed bodies will out last the chassis it's been built on. Currently we maintain
                            a fleet of over 30 Hewitt Lucas bodies that age in range from twenty five years to a year old.</p>
                        <p>Each body is built to order by Hewitt Lucas, installed and finished by M.T.J.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 push-m4">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Options</span>
                        <p>Each Van body is customizable, allowing you to choose door configurations, bumper style, lighting options and color. Ease loading with a liftgate, ramp or dock bumper with integrated steps. Add a side door for ease of access, choose
                            from half, two thirds, or a single roll up door for rear access.</p>
                        <p>Need a specific color to match your existing fleet or company's logo? Not a problem, each body can be skinned to your desired color or finished off in a mirrored stainless. We can even work with your current advertising agent and
                            meet your fleet billboard needs.</p>
                        <p>The body interior can be furnished with shelves or a load handling system if needed. Integrating E-track into the side panels as well as integrated J-track in the floor and ceiling.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 pull-m4">
                <div class="card blue z-depth-2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/img/bodies/van/IMG_0387.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text">SMC Van Body<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SMC Van Body<i class="material-icons right">close</i></span>
                        <p>Designed for the highway striping industry, to carry stripping equipment and finishing supplies. This body features a specialty extended heavy duty liftgate, side doors and integrated shelving with tie-downs to keep things organized.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row">
            <div class="col s12 m4">
                <div class="card-image">
                    <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
                </div>
            </div>
            <div class="col m4">
                <div class="card-image">
                    <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
                </div>
            </div>
            <div class="col m4">
                <div class="card-image">
                    <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container" style="height:275px;">
        <div class="parallax"><img class="" src="../assets/img/bodies/transport/metal/IMG_8350.jpg"></div>
    </div>
    <!-- Transport -->
    <div id="transport" class="section blue lighten-1">
        <div class="container row">
            <div class="col s6 m4">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Van Bodies</span>
                        <p>We offer Van Bodies built by Hewitt Lucas, who have been in business since 1960, and offer and extremely durable Van Body that like our other installed bodies will out last the chassis it's been built on. Currently we maintain
                            a fleet of over 30 Hewitt Lucas bodies that age in range from twenty five years to a year old.</p>
                        <p>Each body is built to order by Hewitt Lucas, installed and finished by M.T.J.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 push-m4">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Options</span>
                        <p>Each Van body is customizable, allowing you to choose door configurations, bumper style, lighting options and color. Ease loading with a liftgate, ramp or dock bumper with integrated steps. Add a side door for ease of access, choose
                            from half, two thirds, or a single roll up door for rear access.</p>
                        <p>Need a specific color to match your existing fleet or company's logo? Not a problem, each body can be skinned to your desired color or finished off in a mirrored stainless. We can even work with your current advertising agent and
                            meet your fleet billboard needs.</p>
                        <p>The body interior can be furnished with shelves or a load handling system if needed. Integrating E-track into the side panels as well as integrated J-track in the floor and ceiling.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 pull-m4">
                <div class="card blue z-depth-2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/img/bodies/van/IMG_0387.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text">SMC Van Body<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SMC Van Body<i class="material-icons right">close</i></span>
                        <p>Designed for the highway striping industry, to carry stripping equipment and finishing supplies. This body features a specialty extended heavy duty liftgate, side doors and integrated shelving with tie-downs to keep things organized.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container" style="height:275px;">
        <div class="parallax"><img class="" src="../assets/img/bodies/van/IMG_0385.jpg"></div>
    </div>
    <!-- Utility -->
    <div id="utility" class="section blue lighten-1">
        <div class="container row">
            <div class="col s6 m4">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Van Bodies</span>
                        <p>We offer Van Bodies built by Hewitt Lucas, who have been in business since 1960, and offer and extremely durable Van Body that like our other installed bodies will out last the chassis it's been built on. Currently we maintain
                            a fleet of over 30 Hewitt Lucas bodies that age in range from twenty five years to a year old.</p>
                        <p>Each body is built to order by Hewitt Lucas, installed and finished by M.T.J.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 push-m4">
                <div class="card blue z-depth-2">
                    <div class="card-content white-text">
                        <span class="card-title">Options</span>
                        <p>Each Van body is customizable, allowing you to choose door configurations, bumper style, lighting options and color. Ease loading with a liftgate, ramp or dock bumper with integrated steps. Add a side door for ease of access, choose
                            from half, two thirds, or a single roll up door for rear access.</p>
                        <p>Need a specific color to match your existing fleet or company's logo? Not a problem, each body can be skinned to your desired color or finished off in a mirrored stainless. We can even work with your current advertising agent and
                            meet your fleet billboard needs.</p>
                        <p>The body interior can be furnished with shelves or a load handling system if needed. Integrating E-track into the side panels as well as integrated J-track in the floor and ceiling.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 pull-m4">
                <div class="card blue z-depth-2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../assets/img/bodies/van/IMG_0387.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text">SMC Van Body<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SMC Van Body<i class="material-icons right">close</i></span>
                        <p>Designed for the highway striping industry, to carry stripping equipment and finishing supplies. This body features a specialty extended heavy duty liftgate, side doors and integrated shelving with tie-downs to keep things organized.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="g-page" data-href="https://plus.google.com/u/0/109563858961657964641" data-theme="dark" data-layout="landscape" data-rel="publisher" data-width="380" data-showtagline="true"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/M-T-J-Truck-Equipment-155507061155261" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Quick Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">About</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Getting Here</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Contact</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright M. T. J. Truck Equipment
                <a class="grey-text text-lighten-4 right" href="#!">Mark N Carpenter Jr</a>
            </div>
        </div>
    </footer>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>
