<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark N Carpenter Jr">
    <!-- Social Media -->
    <link href="https://plus.google.com/MTJTruckEquipmentINCBridgeport" rel="publisher" />
    <title>M. T. J. Truck Equipment INC. Truck Equipment Installers</title>
    <link rel="shortcut icon" href="../assets/img/favicon128.png">
    <!-- Style  Libs-->
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <!-- Icons -->
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <!-- Custom styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div id="fb-root"></div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue z-depth-2">
                <a href="../index.html" class="brand-logo hide-on-small-only">M.T.J. Truck Equipment INC.</a>
                <a href="../index.html" class="brand-logo hide-on-med-and-up">M. T. J. Truck</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="https://www.facebook.com/M-T-J-Truck-Equipment-155507061155261">
                            <i class="fa fa-facebook-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/109563858961657964641">
                            <i class="fa fa-google-plus-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a href="../views/about.html">About</a>
                    </li>
                    <li class="active">
                        <a href="../views/installed_equip.html">Products</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contact</a>
                    </li>
                </ul>
                <ul class="side-nav blue white-text" id="mobile-demo">
                    <li>
                        <a href="../views/about.html">About</a>
                    </li>
                    <li>
                        <a href="../views/installed_equip.html">Products</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../assets/img/bodies/rack2.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3 class="grey-text text-lighten-3">Truck Bodies</h3>
                            <h5 class="light grey-text text-lighten-2">In almost any style.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/img/toolboxes/wide/tbx5v6wd.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3 class="grey-text text-lighten-3">Tool Boxes</h3>
                            <h5 class="light grey-text text-lighten-2">Big, Small we stock them all.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/img/bodies/transport/transwd.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3 class="grey-text text-lighten-3">Liftgates</h3>
                            <h5 class="light grey-text text-lighten-2">Installed with the utmost care.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue z-depth-2">
                        <div class="card-image">
                            <img src="../assets/img/oldskoo.jpg">
                            <span class="card-title">History</span>
                        </div>
                        <div class="card-content white-text">
                            <p>
                                M.T.J. Truck Equipment INC. has been perfecting the art of installing truck equipment since 1985. Our facility has turned out some unique solutions to fit our customers needs. From our heavy duty lumber delivery bodies, to our one of a kind utilites service
                                bodies, we can find and provide a solution for your unique truck equipment needs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card blue z-depth-2">
                        <div class="card-content">
                            <span class="card-title white-text">We Expertly Install</span>
                            <ul class="collection blue grey-text text-lighten-3">
                                <li class="collection-item blue darken-1">Truck Bodies</li>
                                <li class="collection-item blue lighten-1">Tool Boxes</li>
                                <li class="collection-item blue darken-1">Lifgates</li>
                                <li class="collection-item blue lighten-1">Load Tarps</li>
                                <li class="collection-item blue darken-1">Loading Ramps</li>
                            </ul>
                        </div>
                        <div class="card-action blue darken-1">
                            <a href="../views/about.html">See Our Vendors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container" style="height:375px;">
        <div class="parallax"><img class="" src="../assets/img/bodies/transport/lumber/dumpwd.jpg"></div>
    </div>
    <div class="section">
        <div class="row container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card blue z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../assets/img/bodies/dumpwarm.jpg">
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title activator">Truck Bodies<i class="material-icons right">more_vert</i></span>
                            <p><a class="blue accent-3 waves-effect btn" href="../views/bodies.html">Details</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Truck Bodies<i class="material-icons right">close</i></span>
                            <p>Something awesome about our installed truck bodies.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 push-m4">
                    <div class="card blue z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../assets/img/finishingtl.jpg">
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title activator ">Tool Boxes<i class="material-icons right">more_vert</i></span>
                            <p><a class="blue accent-3 waves-effect btn" href="../views/toolboxes.html">Details</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Tool Boxes<i class="material-icons right">close</i></span>
                            <p>Made from the highest qaulity materials, in many different shapes and configurations.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 pull-m4">
                    <div class="card blue z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../assets/img/repairtl.jpg">
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title activator">Body Repair<i class="material-icons right">more_vert</i></span>
                            <p>We can restore a damaged body to like new.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Body Repair<i class="material-icons right">close</i></span>
                            <p>Not only do we install bodies, we also repair them. We can repair almost anybody back to it's orginal condition, if not better.</p>
                            <p>We also have the technical expertise to trouble-shoot and repair, liftgates, dump hoists and other secondary pieces of equipment.</p>
                        </div>
                        <div class="card-action blue darken-1">
                            <a href="../views/contact.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="g-page" data-href="https://plus.google.com/u/0/109563858961657964641" data-theme="dark" data-layout="landscape" data-rel="publisher" data-width="380" data-showtagline="true"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/M-T-J-Truck-Equipment-155507061155261" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="grey-text">Quick Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-darken-3" href="../views/about.html">About</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="../views/installed_equip.html">Products</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="../views/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container grey-text text-darken-5">
                © 2016 Copyright M. T. J. Truck Equipment
                <a class="grey-text text-darken-1 right" href="http://www.mncarpenter.ninja">Mark N Carpenter Jr</a>
            </div>
        </div>
    </footer>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>
