<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark N Carpenter Jr">
    <!-- Social Media -->
    <link href="https://plus.google.com/MTJTruckEquipmentINCBridgeport" rel="publisher" />
    <title>M. T. J. Truck Equipment INC. Truck Equipment Installers</title>
    <link rel="shortcut icon" href="../assets/img/favicon128.png">
    <!-- Style  Libs-->
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <!-- Icons -->
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <!-- Custom styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div id="fb-root"></div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue z-depth-2">
                <a href="../index.html" class="brand-logo hide-on-small-only">M.T.J. Truck Equipment INC.</a>
                <a href="../index.html" class="brand-logo hide-on-med-and-up">M. T. J. Truck</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="https://www.facebook.com/M-T-J-Truck-Equipment-155507061155261">
                            <i class="fa fa-facebook-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/109563858961657964641">
                            <i class="fa fa-google-plus-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a href="../views/about.html">About</a>
                    </li>
                    <li class="active">
                        <a href="../views/installed_equip.html">Products</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contact</a>
                    </li>
                </ul>
                <ul class="side-nav blue white-text" id="mobile-demo">
                    <li>
                        <a href="../views/about.html">About</a>
                    </li>
                    <li class="active">
                        <a href="../views/installed_equip.html">Products</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../assets/img/toolboxes/wide/util1wd.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Any Style</h3>
                            <h5 class="light grey-text text-lighten-2">Or Size.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/img/toolboxes/wide/tbx5v6wd.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Mounted Anywhere</h3>
                            <h5 class="light grey-text text-lighten-2">On the Deck, Under the Side Rail.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/img/toolboxes/wide/otg1wd.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Storage Integration</h3>
                            <h5 class="light grey-text text-lighten-2">With shelves and bins.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/img/toolboxes/wide/tbx2wd.jpg">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Aluminum Diamond Plate Doors</h3>
                            <h5 class="light grey-text text-lighten-2">Stainless Hardware</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue z-depth-2">
                        <div class="card-content white-text">
                            <span class="card-title">Toolboxes</span>
                            <p>
                                Our tool boxes are made of .125 aluminum with an aluminum diamond plate door and stainless steel hardware. These are also available in steel and stainless steel. These boxes bring a new meaning to tough. They are constructed of the highest quality materials
                                and hardware. We are able to design and build any size box of any shape, out of any material, for any need, because each box is custom. Each seam on the box is TIG welded sealing out the elements. The opening has integral
                                rain gutter with a tough synthetic D-type gasket on the face. This makes the box weatherproof when locked. The door itself has a Stainless Steel T-handle lock with a Stainless Steel continuous hinge and a reinforcing pan
                                to prevent it from warping when opened. Boxes with a width of over 36" have 2 T-handle locks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card blue z-depth-2">
                        <div class="card-content">
                            <span class="card-title white-text">Standard Features</span>
                            <ul class="collection blue grey-text text-lighten-3">
                                <li class="collection-item blue darken-1">.125 Aluminum Construction</li>
                                <li class="collection-item blue lighten-1">Aluminum Diamond Plate Door</li>
                                <li class="collection-item blue darken-1">Stainless Lock Hardware</li>
                                <li class="collection-item blue lighten-1">Stainless Hinge Hardware</li>
                                <li class="collection-item blue darken-1">Multiple Mounting Options</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="g-page" data-href="https://plus.google.com/u/0/109563858961657964641" data-theme="dark" data-layout="landscape" data-rel="publisher" data-width="380" data-showtagline="true"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/M-T-J-Truck-Equipment-155507061155261" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="grey-text">Quick Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-darken-3" href="views/about.html">About</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="views/installed_equip.html">Products</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-3" href="views/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container grey-text text-darken-5">
                © 2016 Copyright M. T. J. Truck Equipment
                <a class="grey-text text-darken-1 right" href="http://www.mncarpenter.ninja">Mark N Carpenter Jr</a>
            </div>
        </div>
    </footer>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>
